# Environment variables
.env
*.env
.env.*
!.env.example

# Firebase
firebase-credentials.json
*-firebase-adminsdk-*.json

# Python
__pycache__/
*.py[cod]
*$py.class
venv/

# Node modules
node_modules/

# IDE
.vscode/
.idea/

# Local development settings
instance/

# Database
*.db
*.sqlite3